.inline-block {
    display: inline-block;
    vertical-align: top;
}
.logo {
    width: 23%;
    padding: 5%;
    align-content: flex-end;
}
nav {
    padding: 1%;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.head {
    width: 10%;
    justify-content: flex-end;
    align-items: center;
}
footer {
    background-color: #424098;
    padding: 1%;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
ul {
    list-style: none;
    display: flex;
    margin: 10px;
}
.top {
    margin: 20px;
    size: 32pt;
    font-family: Arial, Helvetica, sans-serif;
}
header {
display: flex;
width: 100%;
background-color: #D0D2FF;
align-items: center;
max-height: 110px;
filter: drop-shadow(0px 2px 10px #6E6BFF);
}
body {
        background-image: linear-gradient(#E9E9E9, #D0D2FF);
    }
img {
        float: right;
        margin: 5px;}
 .flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .skill {
    width: 33%;
    padding: 20px;
    margin: 25px;
    background-color: #D0D2FF;
    filter: drop-shadow(0px 2px 10px #6E6BFF);
 }
.ft {
    color: #D0D2FF;
    padding: 10px;
    margin: 5px;
}
p {
    color: #21204D;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
    color: #21204D;
    filter: drop-shadow(0px 2px 10px #6E6BFF);
    size: 96pt;
    margin: 25px;
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}
h2 {
    color: #21204D;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h3 {
    color: #21204D;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h4 {
    color: #21204D;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.grid-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "plantpic plant"
                         "dogpic dog";
}
.plantpic {
    grid-area: plantpic;
}
.plant {
    grid-area: plant;
}
.dogpic {
    grid-area: dogpic;
    scale: 75%;
}
.dog {
    grid-area: dog;
}
.grid-item {
    padding: 20px;
    margin: 20px;
}
.plantpic { transition: transform 0.5s; }
.plantpic:hover { transform: scale(0.75); }

.dogpic { transition: transform 0.5s; }
.dogpic:hover { transform: scale(0.75); }

@media only screen and (max-width:600px){
    .flexContainer {
        flex-direction: column;
    }
    .skill{
        width: 100%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "plantpic plant"
                             "dogpic dog";
                            }
                        }
